/* ГЛОБАЛЬНЫЕ СТИЛИ */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;

  /*    background-color: #ffffff;
  background-image: url("../img/sedona-index-EXAMPLE.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.3;
  OUTLINE: 4px solid green; */
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ОБЩИЕ СТИЛИ */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* HEADER  */

.main-header {
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  width: 140px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: -77px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  width: 239px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 75px;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

/* БАННЕР */

.intro-banner {
  background-color: #81B3D2;
  background-image: url("../img/background-photo.jpg");
  background-position: center -56px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 76px;
  height: 509px;
}

.intro-banner img {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}

.intro-banner::after {
  position: relative;
  content: url("../img/intro-mask.svg");
  top: -57px;
}

/* ВВЕДЕНИЕ */

.intro-text {
  text-align: center;

  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 57px;
}

.intro-text p {
  width: 500px;
  margin: 0 auto;

  line-height: 26px;
}

.intro-text .intro-text-caption {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 25px;
}

/* ПРЕИМУЩЕСТВА */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}

.feature-item-blue {
  width: 100%;
  background-color: #81b3d2;
}

.wrapper-item-blue {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-text {
  color: #ffffff;

  padding-top: 45px;
  padding-bottom: 55px;
  margin: 0 auto;
}

.feature-item {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  padding-bottom: 25px;
  width: 130px;
  margin: 0 auto;
}

.wrapper-text h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  padding-bottom: 20px;
  width: 151px;
  margin: 0 auto;
}

.wrapper-text p,
.feature-item p {
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper-text p {
  width: 305px;
}

.feature-item p {
  width: 261px;
  margin-bottom: 22px;
}

/* РЕКОМЕНДАЦИИ */

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-top: 60px;
  background-color: #ffffff;
}

.recommendation-item {
  width: 400px;
}

.recommendation-item-housing {
  padding-top: 100px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.recommendation-item-food {
  padding-top: 100px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.recommendation-item-souvenirs {
  padding-top: 100px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.recommendations-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.recommendation-item p {
  width: 285px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 85px;
}

/* ПОИСК ГОСТИНИЦ (+ МОДАЛЬНОЕ ОКНО) */

.modal {
  position: relative;
}

.hotel-search {
  text-align: center;
  line-height: 24px;
  background-color: #ffffff;
  padding-top: 50px;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.hotel-search p {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 62px;
  width: 445px;
}

.hotel-search .button-brown,
.searching-form .button-blue {
  font-size: 21px;
  line-height: 26px;
}

.searching-form {
  position: absolute;
  width: 568px;
  left: 316px;
  background-color: #ffffff;
}

.searching-item input {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.searching-item input:hover {
  background-color: #ebebeb;
}

.searching-item input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.searching-item label {
  line-height: 26px;
  font-weight: 700;
}

/* КАРТА */

.sedona-map {
  text-align: center;

}

/* ФОРМА ПОИСКА ГОСТИНИЦЫ НА ВНУТРЕННЕЙ СТРАНИЦЕ */

.extended-searching-form {
  color: #ffffff;

  background-color: #263940;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.infrastructure-list,
.type-of-housing-list {
  list-style: none;
}

.extended-searching-form fieldset {
  border: none;
}

.extended-searching-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  vertical-align: top;
  margin-right: 17px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked+label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  vertical-align: top;
  margin-right: 17px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled+label::before {
  opacity: 0.3;
}

.price-range input[type="text"] {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

/* КОЛИЧЕСТВО И СОРТИРОВКА */

.number-and-sorting {
  background-color: #ffffff;
}

.number-of-housing {
  font-size: 21;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}

.number-and-sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-item,
.sorting-item:hover,
.sorting-item:focus {
  display: inline-block;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:active {
  border-bottom: none;
}

.sorting-item-active,
.sorting-item-active:hover,
.sorting-item-active:focus,
.sorting-item-active:active {
  border-bottom: none;
}

.sorting-button {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-button:hover,
.sorting-button:focus {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;
}

.sorting-button-active,
.sorting-button-active:hover,
.sorting-button-active:focus,
.sorting-button-active:active {
  color: #81b3d2;
}

.button-up path,
.button-down path {
  fill: #cacaca;
}

.button-up path:hover,
.button-up path:focus,
.button-down path:hover,
.button-down path:focus {
  fill: #231f20;
}

.button-up path:active,
.button-down path:active {
  fill: #81b3d2;
}

.active path,
.active path:hover,
.active path:focus,
.active path:active {
  fill: #81b3d2;
}


/* НАЙДЕННОЕ ЖИЛЬЕ */

.found-housing {
  padding-left: 72px;
  padding-right: 72px;
  background-color: #ffffff;
}

.found-housing .found-housing-name:hover,
.found-housing .found-housing-name:focus {
  color: #81b3d2;
}

.found-housing .found-housing-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.found-housing-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.found-housing-item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e5e5e5;
}

.found-housing-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.wrapper-housing-info {
  flex-grow: 1;
  margin-left: 30px;
}

.found-housing .found-housing-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.wrapper-housing-rating {
  width: 110px;
  margin-left: auto;
}

.housing-star {
  display: inline-block;
  font-size: 0;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: space;
}

.housing-star-four {
  width: 89px;
}

.housing-star-three {
  width: 66px;
}

.housing-star-two {
  width: 41px;
}

/* ПОДВАЛ */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 33px 123px;
  margin-top: -123px;
}

.inner-page .main-footer {
  margin-top: 0;
}

.contacts {
  width: 235px;
}

.contacts a,
.sedona-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sedona-hashtag {
  margin: 0;
}

.socialmedia-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmedia-item {
  width: 46px;
}

.socialmedia-item a {
  display: block;
  width: 46px;
  height: 48px;
  line-height: 48px;
  background-color: #81b3d2;
}

.socialmedia-item a:hover,
.socialmedia-item a:focus {
  background-color: #669ec0;
}

.socialmedia-item a:active {
  background-color: #5496bd;
}

.socialmedia-item path:active {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  line-height: 26px;
  color: #000000;
  margin: 0;
  width: 200px;
}

.logo-htmlacademy {
  position: relative;
  top: 14px;
}

.logo-htmlacademy path:hover,
.logo-htmlacademy path:focus {
  fill: #81b3d2;
}

.logo-htmlacademy path:active {
  fill: #bdbbbc;
}
